.mail-nav button {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    /* text-align: center; */
}

.nav-icon {
    width: 20px;
}