.mail-compose {
    position: fixed;
    bottom: 0;
    right: 10px;
    background-color: white;
    width: 70vw;
    box-shadow: 1px 5px 14px 0px #8b8a8a;
    max-height: 80vh;
    border-top-left-radius: 32px;
    border-radius: 8px 8px 0 0;
}

.mail-compose header {
    border-radius: 8px 8px 0 0;
    padding: 12px;
    background-color: var(--mail-bg-color);
}

.mail-compose form{
    padding-top: 7px;

}

.to-label {
    color: #7f7c7c;
    margin-inline-start: 10px;
}

.mail-compose .to {
    width: calc(70vw - 32px);
    border: none;
    padding: 0 10px;
    outline: none;
}

.mail-compose .subject{
    width: 70vw;
    border: none;
    padding: 0 10px;
    outline: none;
}

.mail-compose textarea {
    overflow-y: auto;
    min-height: 40vh;
    width: 70vw;
    border: none;
    padding: 0 10px;
    outline: none;
}

/* [contentEditable] { */
    /* outline: 0px solid transparent; */
/* } */

.mail-compose div {
    cursor:auto;
    margin: 0; 
    border: none; 
    padding: 10px;
    height: 50vh; 
    
}