.mail-index ul {
    margin-inline-end: 25px;
}

.preview.to {
    width: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.preview.from {
    width: 20%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.preview.subject {
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.preview.date {
    /* width: 15%; */
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
    position: absolute;
    right: 35px;
} 


.mail-list .icon:hover {
    cursor: pointer;
    background-color: var(--mail-button-hover-bg-color);
    border-radius: 50%;
    transform: scale(1.1);
}

.mail-list .icon {
    padding: 6px;
    width: 32px;
    height: 32px;
    margin-inline-end: 10px;
    /* cursor: pointer; */
}

.mail-semi-whole-preview{
    
    /* justify-content: center; */
    cursor: pointer;
    padding: 5px;
    /* height: 50px; */
}

.mail-semi-whole-preview:hover{
    cursor: pointer;
    box-shadow: -1px 1px 3px 1px #00000038;
    /* border: 1px solid lightgray; */
}

.mail-list hr{
    margin: 0;
}

