.mail-edit:not(.expand) {
    position: fixed;
    bottom: 0;
    right: 10px;
    background-color: white;
    width: 70vw;
    box-shadow: 1px 5px 14px 0px #8b8a8a;
    max-height: 80vh;
    /* border-top-left-radius: 32px; */
    border-radius: 8px 8px 0 0;
}
.mail-edit .icon {
    position: absolute;
    padding: 2px;
    /* width: 32px;
    height: 32px; */
    top: 10px;

    margin-inline-end: 10px;
}

.mail-edit .expand-icon {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* position: absolute;
    top: 10px; */
    /* width: 15px;
    height: 15px; */
    right: 40px;
    /* top: 12px; */
}

.mail-edit .icon:hover {
    cursor: pointer;
    background-color: var(--mail-button-hover-bg-color);
    /* border-radius: 50%; */
}

.mail-edit .close-icon {
    /* right: 10px; */
    right: 10px;
}

.mail-edit.expand {
    background-color: white;
    /* width: 70vw; */
    /* max-height: 80vh; */
    /* border-top-left-radius: 32px; */
}

.mail-edit.expand .icon {
    position: absolute;
    padding: 2px;
    /* width: 32px;
    height: 32px; */
    /* top: 10px; */

    /* margin-inline-end: 10px; */
}


/* .mail-edit.expand .close-icon {
    right: -100px;
}

.mail-edit.expand .expand-icon {
    right: 10px;
} */

.mail-edit.expand textarea {
    min-height: 50vh;
}

.mail-edit header {
    border-radius: 8px 8px 0 0;
    padding: 12px;
    background-color: var(--mail-bg-color);
}

.mail-edit form{
    padding-top: 7px;

}

.to-label {
    color: #7f7c7c;
    margin-inline-start: 10px;
}

.mail-edit .to {
    width: calc(70vw - 32px);
    border: none;
    padding: 0 10px;
    outline: none;
}

.mail-edit .subject{
    width: 70vw;
    border: none;
    padding: 0 10px;
    outline: none;
}

.mail-edit textarea {
    overflow-y: auto;
    min-height: 40vh;
    width: 70vw;
    border: none;
    padding: 0 10px;
    outline: none;
}

/* [contentEditable] { */
    /* outline: 0px solid transparent; */
/* } */

.mail-edit div {
    cursor:auto;
    margin: 0; 
    border: none; 
    padding: 10px;
    height: 50vh; 
    
}

.mail-edit button {
    background-color: var(--compose-btn);
    border-radius: 32px;
    color: var(--almost-white);
    padding: 8px 20px;
    margin-inline: 10px;
    margin-block-end: 8px;
    border: none;
    /* font-family: roboto-b; */
}

.mail-edit button:hover {
    background-color: var(--compose-btn-hover);
}

