.mail-folder-list{
    color: var(--folder-list-color);
    background-color: var(--mail-bg-color);
    padding: 0 10px;
}

.mail-folder-list button {
    /* font-family: roboto-r; */
    background: none;
    border: none;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 10px 0;
    width: 100%;
    border-radius: 32px;
    padding-block: 5px;
    /* background-color: black; */
    /* padding: 5px 150px 5px 0; */
    /* text-align: center; */
}

.list-icon {
    margin-inline: 10px;
}

.mail-folder-list button.active {
    font-family: roboto-b;
    background-color: var(--active-btn-bg-color);
}

.mail-folder-list button:hover:not(.active) {
    font-family: roboto-b;
    background-color: var(--hover-btn-bg-color);
}

