.mail-edit:not(.expand) {
    position: fixed;
    bottom: 0;
    right: 10px;
    background-color: white;
    width: 70vw;
    box-shadow: 1px 5px 14px 0px #8b8a8a;
    max-height: 80vh;
    border-radius: 8px 8px 0 0;
}

.mail-edit .icon {
    position: absolute;
    padding: 2px;
    top: 10px;
    margin-inline-end: 10px;
}

.mail-edit .expand-icon:not(.expand) {
    right: 40px;
}

.mail-edit .icon:hover {
    cursor: pointer;
    background-color: var(--mail-button-hover-bg-color);
}

.mail-edit .close-icon:not(.expand) {
    right: 10px;
}

.mail-edit header {
    border-radius: 8px 8px 0 0;
    padding: 12px;
    background-color: var(--mail-bg-color);
}

.to-label {
    color: #7f7c7c;
    margin-inline-start: 10px;
}

.mail-edit .to {
    width: calc(70vw - 55px);
    border: none;
    outline: none;
}

.mail-edit .subject {
    border: none;
    padding: 0 10px;
    outline: none;
}

.mail-edit textarea {
    overflow-y: auto;
    min-height: 40vh;
    border: none;
    padding: 0 10px;
    outline: none;
    font-family: roboto-r;
}

.mail-edit div {
    cursor: auto;
    margin: 0;
    border: none;
    padding: 10px;
}

.mail-edit button {
    background-color: var(--compose-btn);
    border-radius: 32px;
    color: var(--almost-white);
    padding: 8px 20px;
    margin-inline: 10px;
    margin-block: 8px;
    border: none;
}

.mail-edit button:hover {
    background-color: var(--compose-btn-hover);
}

.mail-edit.expand {
    position: relative;
    background-color: white;
    height: 100%;
    border-radius: 8px 8px 0 0;
    margin-inline-end: 25px;
}

.mail-edit.expand>*:not(header, .icon) {
    background-color: white;
}

.mail-edit.expand header {
    background-color: var(--msg-header);
}

.mail-edit.expand .icon {
    position: absolute;
}

.mail-edit.expand .expand-icon {
    display: none;
}

.mail-edit.expand textarea {
    min-height: 50vh;
}

.mail-edit.expand .to {
    width: calc(100vw - 256px - 52px - 25px);
}

/* MOBILE */

@media (max-width: 640px) {
    .mail-edit.expand {
        margin-inline-end: 0;

    }
}