.mail-filter {
    display: flex;
    align-items: center;
}

.mail-filter hr {
    width: 90%;
}

.mail-filter .search-icon{
    height: 45px;
    padding: 12px;
    background-color: var(--mail-search);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    outline: none;
    border: none;
}

.mail-filter .search-input{
    height: 45px;
    border: none;
    background-color: var(--mail-search);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    outline: none;
}

/* MOBILE */

@media (max-width: 640px) {
    .mail-filter {
        max-width: 100%;
        padding-block: 38px;
    }

    .mail-filter .search-input {
        width: 100%;
    }
}
