.about {
    margin: 20px;
    text-align: center;
    font-family: Product Sans Regular, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about h1 {
    font-size: 5rem;
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
    padding: 50px;
    margin: 0;
}

.each-member {
    background-color: rgb(250, 253, 253);
    border-radius: 0.5rem;
    flex-basis: 50%;
    box-shadow: 0px 1px 20px 0px lightgray;
}

.about img {
    width: 80%;
    max-width: 200px;
    border-radius: 50%;
}

.about .image-container {
.about .image-container {
    border-radius: 50%;
}

li {
    list-style: none;
}

.social-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
}


.fa-facebook:hover {
    opacity: 0.5;
}


.fa-instagram:hover {
    opacity: 0.5;
}


.fa-linkedin:hover {
    opacity: 0.5;
}

.each-member {
    background-color: rgb(250, 253, 253);
    border-radius: 0.5rem;
    padding: 50px;
}


/* SMALL */

@media (min-width: 640px) {
    .team {
        flex-direction: row;
        margin: 0;
        gap: 20px;
    }

}

/* MEDIUM */

@media (min-width: 940px) {
    .team {
        flex-direction: row;
        margin: 0;
        gap: 70px;
    }

}


/* DESKTOP */
@media (min-width: 1200px) {
    .team {
        flex-direction: row;
        margin: 0 200px;
        gap: 70px;
    }
}
