.home{
    text-align: center;
}
.home h1{
font-size: 50px;
}
.home img{
    width: 300px;
}

/* .mail{
    background-color: aqua;

}
.note{
    background-color: aqua;

}
.book{
    background-color: aqua;

} */