:root {
    /* MAIL */
    --main-bg-color: lightblue;
    --side-nav-color: #202124;
    --compose-bg-color: #c2e7ff;
    --compose-color: #001d35;
    --search-bg-color: rgb(234, 241, 251);


    /* NOTE */
    /* side bar */
    --active-bg-color: #feefc3;
    

}
