:root {
    /* MAIL */
    --mail-bg-color: #f1f6f9;
    --active-btn-bg-color: rgb(200, 218, 241);
    --hover-btn-bg-color: #e1e8ecda;
    --folder-list-color: #202124;
    --compose-bg-color: #c2e7ff;
    --compose-color: #001d35;
    --search-bg-color: rgb(234, 241, 251);
    --mail-button-hover-bg-color: #ded8d87e;
    --read-mail: rgba(232, 236, 248, 0.668);
    --almost-white: rgb(253, 253, 253);
    --mail-search: rgba(225, 233, 243, 0.852);
    --compose-btn: rgb(41, 84, 237);
    --compose-btn-hover: rgb(68, 109, 233);
    --msg-header: rgb(223, 235, 242);
    /* NOTE */
    /* side bar */
    --active-bg-color: #feefc3;
    --hover-bg-color: #f1f3f4;
    --button-hover-bg-color: #c6c6c67e;
    --logo-color: #5f6368;
    /* BOOK */
    --clr1: rgb(181, 91, 91);
    --clr2: rgb(120, 99, 110);

    --clr1bg: rgba(230, 176, 176, 0.751);
    --clr1bg-light: rgb(205, 221, 200);
    --clr2bg: rgb(236, 232, 234);
    --clr2bg-light: rgb(247, 185, 219);

    --gray1: rgb(240, 240, 240);
    --gray2: rgb(155, 155, 155);
    --gray3: rgb(44, 44, 44);

    /* bp */
    --s: 600px;
    --m: 900px;
    --l: 1500px;
}