.note-preview {
    padding: 15px;
    border-radius: 0.5rem;
    min-height: 200px;
    min-width: 250px;
    border: 1px rgb(231, 231, 231) solid;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: 0.3s;

}

.note-preview:hover {
    box-shadow: 0px 1px 3px 0px grey;
}


.note-preview input {
    visibility: hidden;

}

.note-preview label img {
    width: 20px;
    height: 20px;
    text-decoration: none;

}


.note-preview label img:hover {
    cursor: pointer;
}

.note-preview label:hover {
    cursor: pointer;
}

.note-preview label {
    cursor: pointer;
}

.hidden-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 10px;
    gap: 5px;
}


.hidden-buttons form {
    width: 20px;
    height: 22px;
}

.note-video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.css-fix {
    white-space: pre-wrap;
}