.note-preview {
    padding: 15px;
    border-radius: 0.5rem;
    min-height: 120px;
    border: 1px rgb(231, 231, 231) solid;
    text-align: left;

    transition: 0.3s;

}

.note-preview:hover {
    box-shadow: 0px 1px 3px 0px grey;
}

.note-preview input {
    /* display: none; */
    visibility: hidden
        /* position: relative; */
}

.note-preview label img {
    width: 20px;

}

.note-preview label img:hover {
    cursor: pointer;
    opacity: 0.5;
    /* background-color: var(--button-hover-bg-color);
    border-radius: 50%; */
}

.hidden-buttons{
    display: flex;
    justify-content: space-between;
    align-items:flex-end
}