.mail-index {
    display: grid;
    grid-template-columns: 256px calc(100vw - 256px);
    grid-template-rows: 71px 40px calc(100vh - 71px - .5rem - 16px - 80px);

    grid-template-areas:
        "compose-btn-sect   mail-filter"
        "mail-folder-list   mail-sort"
        "mail-folder-list   expand";

    /* text-align: center; */
    /* width: max-content; */
    /* margin: 2px;
    gap: 2px; */
    overflow: hidden;
    font-family: roboto-r;
    font-size: 14px;
    background-color: var(--mail-bg-color);
    
    /* border: 1px solid gray; */
}

.mail-index .expand {
    grid-area: expand;
    /* border-radius: 20px; */
    /* background-color: rgb(173, 200, 99); */
}

.mail-folder-list {
    grid-area: mail-folder-list;
}

.mail-edit.expand {
    grid-area: mail-sort;
}

.mail-filter {
    grid-area: mail-filter;
}

.mail-sort {
    grid-area: mail-sort;
}

.mail-index textarea {
    resize: none;
}

.mail-index .compose-btn-sect {
    grid-area: compose-btn-sect;
}

.mail-index .icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.mail-index ul {
    padding: 0;
    list-style-type: none;
}

.mail-index p{
    margin: 0;
}

.mail-index .mark-as-unread {
    font-family: roboto-b;
    background-color: var(--almost-white);
}

.mail-index .mark-as-read {
    background-color: var(--read-mail);
}

.mail-index .underline{
    border-bottom: 1px solid lightgray;
}

/* .mail-screen {
    display: none;
} */

/* MOBILE */

@media (max-width: 640px) {

    .mail-index {
        display: grid;
        /* grid-template-columns: 256px calc(100vw - 256px); */
        grid-template-columns: 1fr;
        grid-template-rows: 71px 40px calc(100vh - 71px - .5rem - 16px - 80px);
    
        grid-template-areas:
            "mail-filter"
            "mail-sort"
            "expand";
    
        /* text-align: center; */
        /* width: max-content; */
        /* margin: 2px;
        gap: 2px; */
        overflow: auto;
        /* font-family: roboto-r; */
        /* font-size: 14px; */
        /* background-color: var(--mail-bg-color); */
        
        /* border: 1px solid gray; */
    }
    
    .mail-index .expand {
        grid-area: expand;
        /* border-radius: 20px; */
        /* background-color: rgb(173, 200, 99); */
    }
    
    .mail-folder-list {
        display:none;
    }
    
    .mail-index .compose-btn-sect {
        display:none
    }

     .mail-edit.expand {
        grid-area: mail-sort;
        
    } 
   
    .mail-loader{
        margin: 20px;
        font-family: roboto-b;
    }

    /* TO FIX??//////////////////// */

    .mail-index {
        padding:  0 10px;
    }

    .mail-menu{
        cursor: pointer;
        position: fixed;
        bottom: 30px;
        left: 30px;
        height: 40px;
        padding: 6px;
        content: url(../../../../img/icons/icons-mail/menu-icon.png);
        background-color: rgb(192, 222, 227);
        border-radius: 50%;
        /* background-color: var(--inbox-btn); */
    }

    .mail-menu:hover{
        background-color: rgb(208, 233, 237);
    }

    body.mail-menu-open .compose-btn-sect {
        display: block;
        position: fixed;
    }

    body.mail-menu-open .mail-folder-list {
        display: block;
        position: fixed;
    }

    
.mail-screen {
    position: fixed;
    inset: 0;
    background-color: #000;
    background-color: rgb(0 0 0 / 70%);
    cursor: pointer;
    pointer-events: none;

    opacity: 0;

    transition: opacity .6s;
    z-index: 1;
}

body.mail-menu-open .mail-screen {
    pointer-events: auto;
    opacity: 1;
}


.compose-btn-sect {
    position: fixed;
    /* top: 70px;
    left: -256px; */
    top: 70px;
    left: 0;
    flex-direction: column;
    height: 100vh;
    /* background: rgb(244, 244, 244); */
    background:  rgb(212, 222, 227);
    border-inline-start: 1px solid rgb(0, 0, 0);
    min-width: 200px;
    transform: translateX(100%);
    z-index: 2;
    /* height: 100px; */
    transition: transform .6s, box-shadow .6s;
}

body.mail-menu-open .compose-btn-sect {
    transform: translateX(0);
    /* box-shadow: -6px 0px 14px rgb(0 0 0 / 20%); */
    z-index: 2;
}
.mail-folder-list {
    position: fixed;
    top: 150px;
    left: 0;
    flex-direction: column;
    height: 100vh;
    /* background: rgb(244, 244, 244); */
    background:  rgb(212, 222, 227);
    border-inline-start: 1px solid rgb(0, 0, 0);
    min-width: 200px;
    transform: translateX(100%);
    z-index: 2;

    transition: transform .6s, box-shadow .6s;
}

body.mail-menu-open .mail-folder-list {
    transform: translateX(0);
    /* box-shadow: -6px 0px 14px rgb(0 0 0 / 20%); */
    z-index: 2;
}

/* .app-header nav a {
    display: block;
    text-align: center;
    padding: 30px 10px;
    transition: background-color .6s;
}

.app-header nav a:hover {
    background-color: var(--clr8);
} */


}


