.book-list {
    padding: 15px 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.book-list li {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr1bg);
    border-radius: 0.5rem;
}

.book-list a:hover{
    opacity: 0.5;
}
.buttons-list{
    margin: 10px;
}
.book-list body {
    text-align: center;
}