.star-rating {
    display: inline-block;
}

.star-rating input {
    display: none;
}

.star-rating label {
    float: right;
    padding: 2px;
    font-size: 24px;
    color: #444;
    transition: all .2s;
}

.star-rating label:before {
    content: '\2605';
}

.star-rating input:checked ~ label:before {
    color: gold;
    transition: all .25s;
}

.star-rating label:hover {
    transform: scale(1.3);
}

/* .star-rating {
    width: 180px;
    font-family: fa-regular;
    position: relative;
    width: 180px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3em;
    padding: 5px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 2px #b3acac;
 }
 
 .rating__result {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-10px) translateX(-5px);
    z-index: -9;
    font: 3em Arial, Helvetica, sans-serif;
    color: #ebebeb8e;
    pointer-events: none;
 }
 
 .rating__star {
    font-size: 1.3em;
    cursor: pointer;
    color: #dabd18b2;
    transition: filter linear .3s;
 }
 
 .rating__star:hover {
    filter: drop-shadow(1px 1px 4px gold);
 } */
