* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: Product Sans Regular;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.mail-index hr {
    color: lightgray;
    background-color: lightgray;
    height: 1px;
    border-width: 0;
}

ul{
    margin: 0;
}

/* ::selection{
    background-color: aqua;
} */
